TriggerMode=Off
AcquisitionMode=Continuous
AcquisitionFrameRateEnable=True
AcquisitionFrameRateAbs=30.00
ExposureAuto=Continuous
AutoExposureTimeUpperLimitRaw=14000
AutoExposureTimeLowerLimitRaw=80
# ExposureTime=14000.00
# GainAuto=Continuous
AutoGainRawUpperLimit=20.0
AutoGainRawLowerLimit=1.0
# Gain=14.00